.user-container{
    background-color: #f1fee9af;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    border-style: solid;
    border-width: 1px;
    margin-top: 55%;
    
}
.greeting{
    font-family: Arial, Helvetica, sans-serif;
}
.cal-title{
    font-family: Arial, Helvetica, sans-serif;
}