body{
    background-color: #274d2298;
    
}
.regbox{
    
    background-color: #274d2298;
    padding-bottom: 15px;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}
.button{
    margin-bottom: 5%;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}